@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@200;300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import "compass/css3";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}


/* * {
    outline: 1px solid black;
} */

body {
    background: #FAFAFA;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.container {
    margin-left: 135px;
    margin-top: 0;
    max-width: 1305px;
    height: auto;
}

.container_fluid {
    position: relative;
}

.vector {
    position: absolute;
    top: 0;
    right: 0;
    /* height: 850px; */
    width: auto;
    z-index: -1;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    margin-left: -280px;
    gap: 26px;
    margin-top: 34px;
}

.navbar-brand {
    margin-top: 39px;
}

.navbar__brand {
    padding-top: 39px;
    font-family: "Inter" serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.navbar__brand>span {
    color: #21A099;
    text-decoration: none;
}

.navbar-button {
    margin-right: 135px;
    margin-top: 34px;
    width: 135px;
    height: 44px;
    background: #FAFAFA;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.navbar-button:hover {
    color: #21A099;
    transition: .3s;
    width: 160px;
}

.navbar-button>a {
    font-family: "Inter" serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #21A099;
    text-decoration: none;
}

.nav__items a,
.nav-item-dropdown span,
.dropdownmenu a {
    font-family: "Inter" serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #343434;
    text-decoration: none;
    cursor: pointer;
}

.nav__items a:hover,
.nav-item-dropdown span:hover,
.dropdown-menu a:hover {
    color: lightblue;
    transition: 0.5s;
}

.nav-item-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    z-index: 1;
    border: none;
}

.nav-item-dropdown:hover .dropdown-menu {
    display: block;
}

.row__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left,
.right {
    width: 50%;
    gap: 14px;
}

.container__flex {
    padding-top: 256px;
}

.left {
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding-top: 175px; */
}

.section__1>h1 {
    font-family: "Inter" serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #21A099;
}

.section__1 .head {
    font-family: "Source Sans Pro" serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #000000;
}

.section__1 .head>span {
    color: #21A099;
}

.section__1 .head2 {
    font-family: "Inter" serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #828282;
    width: 524px;
    padding-top: 24px;
    padding-bottom: 35px;
}

.button {
    padding-top: 80px;
    display: flex;
    gap: 24px;
    cursor: pointer;
}

.btn {
    width: 220px;
    height: 70px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.btn2 {
    width: 220px;
    height: 70px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.button .btn:hover,
.button .btn2:hover {
    color: lightblue;
    transition: 0.5s;
    z-index: 1.2;
}

#play:hover {
    z-index: 2;
    transition: .4s;
}

.btn a,
.btn2 a {
    font-family: "Inter" serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
}

.links__logo {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links__logo a>img :not(:first-child) {
    margin-left: 10px;
}

.section__1 .li__2 {
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #21A099;
    margin-top: 40px;
}

.section__1 .head3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #313131;
    width: 472.03px
}

.li_bg_pattan {
    position: absolute;
    width: auto;
    z-index: -1;
    right: 103px;
}


/* 
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #21A099;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-container .close {
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.video-container iframe {
    width: 90%;
    max-width: 700px;
    transform: scale(0);
    box-shadow: #21A099;
    outline: none;
    transition: all 0.3s;
} */

.itemimage {
    cursor: pointer;
}

.itemimage:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.video-container .show {
    pointer-events: all;
    opacity: 1;
}

.video-container .show iframe {
    transform: scale(1);
}

.item {
    /* line-height: 178%; */
    display: flex;
    align-items: center;
    /* padding-left: 30px; */
}

.left__feature,
.right__feature {
    width: 50%;
    /* gap: 95px; */
}

.item p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2C3847;
}

.popoutimage:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

ul {
    list-style-image: url(./images/ulstyling.png);
    display: flex;
    flex-direction: column;
}

ul li {
    margin-left: 35px;
}

.head1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: #1B2B4E;
}

.head4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #313131;
    padding-bottom: 80px;
}

ul p {
    padding-right: 140px;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 140px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 650px;
    top: 450px;
    width: 40%;
    height: 100%;
}

.modal-content {
    margin: auto;
    border: none;
}

.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.itsmodal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 650px;
    top: 450px;
    width: 40%;
    height: 100%;
}

.content {
    background: #FAFAFA;
    border-radius: 5px;
    width: 355px;
    height: 268px;
}

.review img {
    padding-left: 32px;
    padding-top: 40px;
    size: 30px;
}

.content p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #828282;
    padding: 19px 32px 0 32px;
}

.user-details {
    padding-left: 32px;
}

.user-details h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
    padding-top: 18px;
}

.user-details h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #969696;
    padding-top: 9px;
}

.owl-carousel {
    margin-top: 70px;
    /* margin-left: px;7 */
    /* max-width: 950px; */
}

.owl-nav {
    position: absolute;
    left: 350px;
    top: -4rem;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background-color: blanchedalmond;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
}